<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<!--<p id="notice"><%#= notice %></p>-->
<style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 70%;
  }
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">DroneTracker</a>
    </div>
    <ul class="nav navbar-nav">
      <div class="container">
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Drone
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/drone/drone_list">Drone List</a>
            <a class="dropdown-item" href="/drone/drone_registration">Register a Drone</a>
          </div>
        </div>
        <a href="/missions" class="btn btn-primary" role="button">Mission List</a>
        <a href="/" class="btn btn-info" role="button">Home</a>
        <a href="https://validator.w3.org" class="btn btn-info" role="button">Validate this Site</a>
        <a href="/posts" class="btn btn-info" role="button">Forum</a>
        <% if user_signed_in? %>
          <% if current_user.admin %>
            <a href="/drone/users_lists" class="btn btn-info" role="button">User Management</a>
          <% end %>

          </div>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <div class="container">



              <li><p class="navbar-text">Signed in as <%= current_user.email %></p></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% end %>

        </div>
        </ul>
        </div>
</nav>

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/drone/drone_list"><img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NrM0QFs3gilniuv44/3d-model-of-a-flying-drone-on-a-dark-background-4k-video_bjff7lyvdg_thumbnail-full05.png" alt="Los Angeles" width="1100" height="500">
        <div class="carousel-caption">
          <h3>Drone List</h3>
          <p>We'd love to view some drones.</p>
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="/missions"><img src="https://s3.amazonaws.com/giveffect-assets/blog/wp-content/uploads/2018/04/03132106/How-to-Craft-the-Best-Mission-Statement-for-Your-Business-1068x601.jpg" alt="Chicago" width="1100" height="500">
        <div class="carousel-caption">
          <h3>Mission List</h3>
          <p>Let's create some missions.</p>
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="/posts"> <img src="https://www.marketingdonut.co.uk/sites/default/files/questions-that-research-could-help-you-answer-366899399.jpg" alt="New York" width="1100" height="500">
        <div class="carousel-caption">
          <h3>Forum</h3>
          <p>Ask me anything</p>
        </div>
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<hr>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Web App For Drone</h1>
    <p>Presented by Wai Yan Aung(Drone Team).</p>
  </div>
</div>

<div class="container">
  <p>This is the web app for drone, currently you can create mission, register drone and post in the forum. </p>
  <p>Upcoming features: Test with real drone after calibration.</p>
</div>
</body>


</div>

<!--<br>-->

<%#= link_to 'New Drone', new_drone_path %>
