<!DOCTYPE html>
<html>
<title>Index</title>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Problem Sets Basics</h1>
</div>





<!--    <h1>Problem Set 1</h1>-->


<hr>

<div class="container">
  <a href="drone" class="btn btn-primary" role="button">drone</a>
</div>

<hr>


<div class="jumbotron text-center" style="margin-bottom:0; height: 190px">
  <h4><strong>Web Application Enginnering Web-16</strong></h4>
  <hr>
  <li>Htoo Lwin (st20001129)</li>
  <li>Wai Yan Aung (st20001131)</li>
  <li>Han Htoo Zaw (st20001128)</li>
</div>

</body>
</html>