<!DOCTYPE html>
<html lang="en">
<head>
  <title>CSS Weather Forecast</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.5/css/weather-icons.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<div class="ds-wrapper">
  <header class="ds-header">
    <h1>CSS weather forecast <i class="wi wi-sunrise"></i></h1>
  </header>
  <main>
    <ul class="ds-city-list">
      <li class="ds-double">
        <p>Lisbon</p>
        <p class="ds-city-weather">
          21&#x2103; <i class="wi wi-day-sunny"></i>
        </p>
      </li>
      <li class="ds-single">
        <p>Paris</p>
        <p class="ds-city-weather">
          11&#x2103; <i class="wi wi-night-sleet"></i>
        </p>
      </li>
      <li class="ds-single">
        <p>Belgrade</p>
        <p class="ds-city-weather">
          15&#x2103; <i class="wi wi-day-cloudy"></i>
        </p>
      </li>
      <li class="ds-single">
        <p>Moscow</p>
        <p class="ds-city-weather">
          21&#x2103; <i class="wi wi-day-cloudy-high"></i>
        </p>
      </li>
      <li class="ds-single">
        <p>Tel Aviv</p>
        <p class="ds-city-weather">
          32&#x2103; <i class="wi wi-hot"></i>
        </p>
      </li>
      <li class="ds-single">
        <p>Cair</p>
        <p class="ds-city-weather">
          21&#x2103; <i class="wi wi-day-sunny"></i>
        </p>
      </li>
      <li class="ds-single">
        <p>New York</p>
        <p class="ds-city-weather">
          17&#x2103; <i class="wi wi-day-sleet-storm"></i>
        </p>
      </li>
      <li class="ds-single">
        <p>New Delhi</p>
        <p class="ds-city-weather">
          17&#x2103; <i class="wi wi-rain-wind"></i>
        </p>
      </li>
      <li class="ds-double">
        <p>San Francisco</p>
        <p class="ds-city-weather">
          15&#x2103; <i class="wi wi-day-sunny-overcast"></i>
        </p>
      </li>
      <li class="ds-single">
        <p>Tokyo</p>
        <p class="ds-city-weather">
          8&#x2103; <i class="wi wi-night-clear"></i>
        </p>
      </li>
      <li class="ds-quadruple">
        <p>Sydney</p>
        <p class="ds-city-weather">
          25&#x2103; <i class="wi wi-night-partly-cloudy"></i>
        </p>
      </li>
    </ul>
  </main>
  <footer class="ds-footer">
    <p>Have a nice day and don't forget <i class="wi wi-umbrella"></i> if you are in New Delhi now!</p>
  </footer>
</div>
</body>
</html>